input:active{
   /* background-color: rgba(237, 193, 127, 0.2);
    border: 5px solid #EDC17F;*/
}

input, .mask {
    position: absolute;
    top: 0;
    left: 0;
}

.view .mask{
    width: 204px;
    height: 204px;
    opacity: 0;
    background-color: rgba(58, 1, 132, 0.44);
}
.view:hover .mask {
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 27px;
    font-family: Raleway, serif;
    padding: 25px;

    margin: 60px 0 0 0
}
