h1{
    font-family: "Cinzel Decorative";
    font-weight: 900;
    text-align: center;
    color: #58799A;
}

.main-block{
    max-width: 1200px;
    max-height: 800px;
    background-color: #F6DDB7;
    margin-left: auto;
    margin-right: auto;
    border-radius: 35px;
    padding: 20px;
}

.blocks{
    max-width: 1120px;
    max-height: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.view  {
    display: block;
    position: relative;
    width: 204px;
    height: 204px;
    margin: 10px;
}

input, .mask {
    width: 204px;
    height: 204px;
    position: absolute;
    top: 0;
    left: 0;
}

.mask{
    opacity: 0;
    background-color: rgba(58, 1, 132, 0.44);
}

.view:hover .mask {
    cursor: pointer;
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

.chooseIndigs{

}

h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 27px;
    font-family: Raleway, serif;
    padding: 25px;
    margin: 60px 0 0 0
}
